@use '../../partials/variables.scss' as *;
@use '../../partials/mixins.scss' as *;

.videos {

    @include tablet {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include desktop {
        position: absolute;
        right: 6rem;
        top: 33.1rem;
        border-left: 2px solid $Mercury;
    }

    &__row {
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0.8rem;
    }

    &__image {
        width: 100px;
        height: 80px;
        border-radius: 4px;
        background-color: $Mercury;
        &:hover {
            opacity: 0.5;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 12px;
        width: 140px;
    }

    &__info {
        margin-left: 10px;
    }

    &__channel {
        padding-top: 1rem;
        font-size: 12px;
    }

    &__header {
        display: flex;
        justify-content: center;
        color: $Silver;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        @include tablet {
            display: flex;
            justify-content: start;
            padding-left: 16px;
        }
    }
}
