@use '../../partials/variables.scss' as *;

.videos {

    &__row {
        display: flex;
        padding-bottom: 1rem;
    }

    &__image {
        width: 30%;
        border-radius: 6px;
    }

    &__title {
        font-weight: 600;
    }

    &__info {
        margin-left: 10px;
    }

    &__channel {
        padding-top: 1rem;
    }

    &__header {
        display: flex;
        justify-content: center;
        color: $Silver;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
