//Breakpoints
$mobile-s-breakpoint: 320px;
$mobile-m-breakpoint: 375px;
$mobile-l-breakpoint: 425px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1440px;
$desktop-l-breakpoint: 2560px; 

//Primary Colors
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$Silver: #AFAFAF;
$White: #FFFFFF;

//Secondary Colors
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

