@use '../../partials/variables.scss' as *;

.comments {

    &__container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    &__row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 2rem;
        font-size: 12px;
        gap: 5px;

        &--first {
            border-top: 1px solid $Silver;
        }
    }

    &__image {
        width: 45px;
        height: 40px;
        border-radius: 100%;
        background-color: $Silver;
    }

    &__text {
        padding-top: 1rem;
        border-bottom: 1px solid $Silver;
        padding-bottom: 1.5rem;
    }
}